{% extends 'layout.html' %}
{% block html_content %}

<div class="container pt-2">
    <div class="row">
        <div class="col-sm">
            <div class="card " style="width: 14rem;">
                <img src="https://ca.slack-edge.com/T01FU7H1P7S-U01FAHP2PDJ-4979c4d01a03-192" class="card-img-top"
                     alt="...">
             <h5>Vishal</h5>
            </div>
        </div>
        <div class="col-sm">
            <div class="card " style="width: 14rem;">
                <img src="https://ca.slack-edge.com/T01FU7H1P7S-U01EPLF8GF9-d1c7420cdedb-512" class="card-img-top"
                     alt="...">
                    <h5>Avinash</h5>
            </div>
        </div>
        <div class="col-sm">
            <div class="card " style="width: 14rem;">
                <img src="https://ca.slack-edge.com/T01FU7H1P7S-U01F4JXQAFM-c25f9c659f54-512" class="card-img-top"
                     alt="...">
                <h5>Plaban</h5>
            </div>
        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm">
            <div class="card " style="width: 14rem;">
                <img src="https://ca.slack-edge.com/T01FU7H1P7S-U01FH1UE0Q1-7f7ba44232a1-512" class="card-img-top"
                     alt="...">
                <h5>Nitish</h5>
            </div>
        </div>
        <div class="col-sm">
            <div class="card " style="width: 14rem;">
                <img src="https://ca.slack-edge.com/T01FU7H1P7S-U01FH1W0081-bdf0cf3e8df5-512" class="card-img-top"
                     alt="...">
                <h5>Kuldeep</h5>
            </div>
        </div>
        <div class="col-sm">
            <div class="card " style="width: 14rem;">
                <img src="https://ca.slack-edge.com/T01FU7H1P7S-U01FU8F4B88-ff2f14d1d5f4-512" class="card-img-top"
                     alt="...">
                <h5>Trinh</h5>
            </div>
        </div>
    </div>

</div>

{% endblock %}

