{% extends "layout.html" %}

{% block html_content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <br><br>
            <h1 class="display-4">Cash Machine</h1>
            <h4>Trading Simulator</h4>
            <p>{Developed by Ingenious Gamblers - Group A}</p>
            <br>
            <h6>Compete, Risk Free with $10,000 in Virtual Cash</h6>
            <p>Start with $10,000 in virtual cash and put your trading skills to the test! Compete with traders and trade your way to the top!</p>
            <h6>A Stepping Stone to the Real Markets</h6>
            <p>The ideal platform to get your financial feet wet! Submit trades in a virtual environment simulator.</p>
        </div>

        <div class="col-sm">
            <br>
            <img src="https://miro.medium.com/max/512/0*xthkL3m5F8NiWgsz" height="480px"/>
        </div>

    </div>

</div>


{% endblock %}
